.CityNav{
    /* width: 90rem; */
    height: 2.5rem;
    flex-shrink: 0;
    background: #FFF;
    display: flex;
    padding: 0.75rem 2rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid  #EBEBEB;
    background: #FFF;
}


.icon_back_text , .Search-BookMark{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}


#BackArrowIcon{
    cursor: pointer;
}
#text{
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
}

#saperate{
    width: 0.0625rem;
    height: 1.125rem;
    background: #B0B0B0;
}
.Search-FieldP{
    display: flex;
    /* width: 17.75rem; */
    height: 0.75rem;
    padding: 0.8125rem 0.5rem;
    align-items: center;
    /* gap: 1.5rem; */
    border-radius: 0.375rem;
    border: 1px solid #EBEBEB;
}
.Search-Field{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1 0 0;
}